<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員情報編集</h2>
      <table class="table">
        <%= form_with model:@customer, local:true do |f| %>
        <%= render "customers/shared/error_messages", resource: @customer %>
        <thead class="thead-dark">
          <tr>
            <div class="form-row">
            <th>氏名
                <%= f.label :last_name, "(姓 ・" %>
                <%= f.label :first_name, "名)" %></th>
            </div>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.text_field :last_name, autofocus: true, placeholder: "姓", class: "form-control" %>
                </div>
                <div class="col-4">
                  <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>フリガナ
                <%= f.label :last_name_kana, "(セイ ・" %>
                <%= f.label :first_name_kana, "メイ)" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.text_field :last_name_kana, placeholder: "セイ", class: "form-control" %>
                </div>
                <div class="col-4">
                  <%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control" %>
                </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :nickname, "ユーザー名" %></th>
            <td>
              <div class="form-row">
                <div class="col-6">
                <%= f.text_field :nickname,
                    placeholder: "web上で表示される名前です（いつでも変更可）",
                    class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :sex, "性別" %></th>
            <td>
              <%= f.radio_button :sex, :男性 %>
              <%= f.label :男性 %>
              <%= f.radio_button :sex, :女性 %>
              <%= f.label :女性 %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :birth_date, "生年月日" %></th>
            <td>
              <%= f.date_select(
              :birth_date,
              use_month_numbers: true,
              start_year: 1950,
              end_year: (Time.now.year),
              default: Date.new(1990, 1, 1),
              date_separator: " / ") %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.text_field :postcode, autocomplete: "postcode", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :prefecture_name, "都道府県" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,
                  :code, :name, { prompt: '選択してください' }, class: 'form-control'%>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :address_city, "市区町村" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.text_field :address_city, autocomplete: "address_city", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :address_street, "以降の住所" %></th>
            <td><%= f.text_field :address_street, autocomplete: "address_street", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :address_building, "建物名" %></th>
            <td><%= f.text_field :address_building, autocomplete: "address_building", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :phone_number, "電話番号(ハイフンなし)" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td>
              <div class="form-row">
                <div class="col-4">
                  <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
        </thead>
        <thead>
          <tr>
            <th></th>
            <td>
              <%= f.submit "変更を保存する", class: "btn btn-primary" %>
              <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
            </td>
          </tr>
        </thead>
        <% end %>
      </table>
    </div>
  </div>
</div>




