<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規登録</h2>
      <table class="table">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>
        <thead class="thead-dark">
          <tr>
            <th>氏名
                <%= f.label :last_name, "(姓 ・" %>
                <%= f.label :first_name, "名)" %></th>
            <td><%= f.text_field :last_name, autofocus: true, placeholder: "姓" %>
                <%= f.text_field :first_name, placeholder: "名" %></td>
          </tr>
          <tr>
            <th>フリガナ
                <%= f.label :last_name_kana, "(セイ ・" %>
                <%= f.label :first_name_kana, "メイ)" %></th>
            <td><%= f.text_field :last_name_kana, placeholder: "セイ" %>
                <%= f.text_field :first_name_kana, placeholder: "メイ" %></td>
          </tr>
          <tr>
            <th><%= f.label :nickname, "ユーザー名" %></th>
            <td><%= f.text_field :nickname,
                placeholder: "web上で表示される名前です（いつでも変更可）",
                class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :sex, "性別" %></th>
            <td>
              <%= f.radio_button :sex, :男性 %>
              <%= f.label :男性 %>
              <%= f.radio_button :sex, :女性 %>
              <%= f.label :女性 %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :birth_date, "生年月日" %></th>
            <td>
              <%= f.date_select(
              :birth_date,
              use_month_numbers: true,
              start_year: 1950,
              end_year: (Time.now.year),
              default: Date.new(1990, 1, 1),
              date_separator: " / ") %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
            <td><%= f.text_field :postcode, autocomplete: "postcode", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :prefecture_name, "都道府県" %></th>
            <td>
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,
              :code, :name, { prompt: '選択してください' }, class: 'form-control'%>
            </td>
          </tr>
          <tr>
            <th><%= f.label :address_city, "市区町村" %></th>
            <td><%= f.text_field :address_city, autocomplete: "address_city", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :address_street, "以降の住所" %></th>
            <td><%= f.text_field :address_street, autocomplete: "address_street", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :address_building, "建物名" %></th>
            <td><%= f.text_field :address_building, autocomplete: "address_building", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :phone_number, "電話番号(ハイフンなし)" %></th>
            <td><%= f.text_field :phone_number, autocomplete: "phone_number" %></td>
          </tr>
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>
              <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </th>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th><%= f.label :password_confirmation, "パスワード確認用" %></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit "新規登録", class: "btn btn-primary" %>
              <%= render "customers/shared/links" %>
            </td>
          </tr>
        </thead>
        <% end %>
      </table>
    </div>
  </div>
</div>