<div class="container">
  <div class="row">
    <h1>会員詳細</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr><th class="col col-3">姓 (セイ)</th><td><%= @customer.last_name %><%= " (" +@customer.last_name_kana + ") " %></td></tr>
        <tr><th class="col col-3">名 (メイ)</th><td><%= @customer.first_name %><%= " (" +@customer.first_name_kana + ") " %></td></tr>
        <tr><th class="col col-3">ユーザー名</th><td><%= @customer.nickname %></td></tr>
        <tr><th class="col col-3">性別</th><td><%= @customer.sex %></td></tr>
        <tr><th class="col col-3">生年月日</th><td><%= @customer.birth_date %></td></tr>
        <tr><th class="col col-3">住所</th><td><%= @customer.full_address %></td></tr>
        <tr><th class="col col-3">電話番号</th><td><%= @customer.phone_number %></td></tr>
        <tr><th class="col col-3">メールアドレス</th><td><%= @customer.email %></td></tr>
        <tr>
          <th class="col col-3">ステータス</th>
          <% if @customer.is_deleted == true %>
            <td>退会</td>
          <% else %>
            <td>有効</td>
          <% end %>
        </tr>
        <% if @customer.is_deleted == true %>
          <tr>
            <th class="col col-3">アカウント復旧</th>
              <td>
                <%= link_to admin_customer_path(@customer), method: :patch do %>
                <button type="button" class="btn btn-primary">アカウント復旧</button>
                <% end %>
              </td>
          </tr>
        <% end %>
        <tr>
          <th class="col col-3">アカウント削除</th>
            <td>
              <%= link_to admin_customer_path(@customer), method: :delete do %>
              <button type="button" class="btn btn-danger">削除</button>
              <% end %>
              （データベース上から削除されるので注意!!）
            </td>
        </tr>
      </thead>
    </table>
  </div>
</div>