<div class="container">
  <div class="row">
    <h1>店舗一覧</h1>
      <%= link_to "新規作成", new_restaurant_path %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">店名</th>
            <th scope="col">住所</th>
            <%#<th scope="col">電話番号</th>%><%# 電話番号が見にくいので表示方法検討 %>
            <%#<th scope="col">営業時間</th>%>
            <%#<th scope="col">定休日</th>%>
            <th scope="col">お気に入り</th>
            <th scope="col">評価</th>
          </tr>
        </thead>
        <tdody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= link_to restaurant.name, restaurant_path(restaurant.id) %></td>
            <td><%= restaurant.full_address %></td>
            <%#<td><%= restaurant.phone_number %></td>%>
            <%#<td><%= restaurant.business_hours %></td>%>
            <%#<td><%= restaurant.holiday %></td>%>
            <td>
              <% if restaurant.favorited_by?(current_customer) %>
                <%= link_to restaurant_favorites_path(restaurant), method: :delete do %>
                  <i class="fas fa-star"></i><%= restaurant.favorites.count %>
                <% end %>
            <% else %>
                <%= link_to restaurant_favorites_path(restaurant), method: :post do %>
                  <i class="far fa-star"></i><%= restaurant.favorites.count %>
                <% end %>
            <% end %>
            </td>
            <td>
              <div class="card-content">
              <div class="content average-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= restaurant.review_score_pct %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= restaurant.review_score_ave %>点（<%= restaurant.reviews.count %>件のレビュー）
                </div>
              </div>
            </div>
            </td>
          </tr>
          <% end %>
        </tdody>
      </table>