<div class="container">
  <div class="row">
    <div class="col col-sm-8">
      <h1>店舗一覧</h1>
    </div>
    <div class="col col-sm-4">
      <%= link_to new_restaurant_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle fa-2x">新規作成</i>
      <% end %>
    </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>店名</th>
            <th>住所</th>
             <th>お気に入り</th>
            <th>行ってみたい</th>
            <th>評価</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <% if restaurant.is_deleted == false %>
              <td class="align-middle"><%= link_to restaurant.name, restaurant_path(restaurant.id), data: {"turbolinks"=>false} %></td>
            <% else %>
              <td class="align-middle">
                <%= link_to restaurant_path(restaurant.id), data: {"turbolinks"=>false} do %>
                  <i class="far fa-window-close", style="color:red;"><%= restaurant.name %></i>
                <% end %>
              </td>
            <% end %>
            <td class="align-middle">
              <%= "〒" + restaurant.postcode.to_s.insert(3, "-") %></br>
              <%= restaurant.address_name %></br>
              <%= restaurant.address_building %>
            </td>
            <td class="favorite_restaurant_<%= restaurant.id %> align-middle">
              <%= render "public/favorites/favorite", restaurant: restaurant %>
            </td>
            <td class="wish_restaurant_<%= restaurant.id %> align-middle">
              <%= render "public/wishes/wish", restaurant: restaurant %>
            </td>
            <td class="align-middle">
              <div class="star-score-show">
                <div id="star<%= restaurant.id %>"></div>
                <script>
                $('#star<%= restaurant.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= restaurant.review_score_ave %>,
                });
                </script>
                <%= restaurant.review_score_ave %>点
                (レビュー数<%= restaurant.reviews.count %>件)
              </div>
            </td>
          </tr>
          <% end %>
        </tdody>
      </table>
    </div>
  </div>
  <div class="paginate">
    <%= paginate(@restaurants) %>
  </div>
</div>