<div class="container">
  <div class="row">
    <div class="col col-sm-8">
      <h1>店舗詳細</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="col col-sm-3  align-middle">店名</th>
            <td><%= @restaurant.name %>
              <% if @restaurant.is_deleted == true %>
                <i class="far fa-window-close", style="color:red;"> 現在営業しておりません <%= @restaurant.reason %></i>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="align-middle">住所</th>
            <td>
              <%= "〒" + @restaurant.postcode.to_s.insert(3, "-") %></br>
              <%= @restaurant.address_name %></br>
              <%= @restaurant.address_building %>
            </td>
          </tr>
          <tr><th class="align-middle">電話番号</th><td><%= @restaurant.phone_number %></td></tr><%# 電話番号が見にくいので表示方法検討 %>
          <tr><th class="align-middle">営業時間</th><td><%= @restaurant.business_hours %></td></tr>
          <tr><th class="align-middle">定休日</th><td><%= @restaurant.holiday %></td></tr>
          <tr><th class="align-middle">喫煙・禁煙</th><td><%= @restaurant.tobacco %></td></tr>
          <tr><th class="align-middle">紹介文</th><td><%= @restaurant.introduction %></td></tr>
          <tr>
            <th class="align-middle">お気に入り</th>
            <td class="favorite_restaurant_<%= @restaurant.id %>">
              <%= render "public/favorites/favorite", restaurant: @restaurant %>
            </td>
          </tr>
          <tr>
            <th class="align-middle">行ってみたい</th>
            <td class="wish_restaurant_<%= @restaurant.id %>">
              <%= render "public/wishes/wish", restaurant: @restaurant %>
            </td>
          </tr>
          <tr>
            <th>評価</th>
            <td>
              <div class="star-score-show">
                <div id="star-score-ave<%= @restaurant.id %>"></div>
                <script>
                $('#star-score-ave<%= @restaurant.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @restaurant.review_score_ave %>,
                });
                </script>
                <%= @restaurant.review_score_ave %>点
              </div>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= link_to "店舗情報編集", edit_restaurant_path(@restaurant),
                  class: "btn btn-primary", data: {"turbolinks"=>false} %>
              <% if @restaurant.is_deleted == false %>
              <%= link_to "削除依頼", restaurant_deletion_request_path(@restaurant), class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% unless @restaurant.is_deleted == true %>
            <tr>
              <th></th>
              <td>
                <%= form_with model: @history, local: true do |f| %>
                <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
                <%= f.label :date, "日付" %>
                <%= f.date_select(
                :date,
                use_month_numbers: true,
                start_year: (Time.now.year),
                end_year: (Time.now.year+1),
                date_separator: " / ") %>  に
                <%= f.submit "ここに行く", class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </thead>
      </table>
    </div>
    <%= render 'public/reviews/form', review: @review, restaurant: @restaurant, my_review: @my_review, review_index: @review_index %>
  </div>
  <div class="container">
    <div class="row">
        <%#= attachment_image_tag @restaurant, :image, format: 'jpeg', size: "200x200", class: "img-responsive" %>
        <div class="col col-sm-12">
          <% if @restaurant.portraits.attached? %>
            <% @restaurant.portraits.each do |portrait| %>
              <%= image_tag portrait, size: "200x200" %>
            <% end %>
          <% end %>
          <div class="delete_portraits">
            <% @restaurant.tags.each do |tag| %>
              <span class="label"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
      </div>
</div>