<h1>店舗情報詳細</h1>
<P>店名<%= @restaurant.name %></P>
<P>住所<%= @restaurant.full_address %></P>
<P>電話番号<%= @restaurant.phone_number %></P><%# 電話番号が見にくいので表示方法検討 %>
<P>営業時間<%= @restaurant.business_hours %></P>
<P>定休日日<%= @restaurant.holiday %></P>
<%= link_to "店舗情報編集", edit_restaurant_path(@restaurant) %>

<%= render 'public/reviews/form', review: @review, restaurant: @restaurant %>