<h1>店舗情報詳細</h1>
<div class="container">
  <div class="row">
    <div class="col col-sm-8">
      <table class="table">
        <thead class="thead-dark">
          <tr><th scope="col">店名</th><td><%= @restaurant.name %></td></tr>
          <tr><th scope="col">住所</th><td><%= @restaurant.full_address %></td></tr>
          <tr><th scope="col">電話番号</th><td><%= @restaurant.phone_number %></td></tr><%# 電話番号が見にくいので表示方法検討 %>
          <tr><th scope="col">営業時間</th><td><%= @restaurant.business_hours %></td></tr>
          <tr><th scope="col">定休日</th><td><%= @restaurant.holiday %></td></tr>
          <tr>
            <th scope="col">お気に入り</th>
            <td>
              <% if @restaurant.favorited_by?(current_customer) %>
              　<%= link_to restaurant_favorites_path(@restaurant), method: :delete do %>
                   <i class="fas fa-star"></i><%= @restaurant.favorites.count %>
                <% end %>
                登録解除
              <% else %>
                <%= link_to restaurant_favorites_path(@restaurant), method: :post do %>
                   <i class="far fa-star"></i><%= @restaurant.favorites.count %>
                <% end %>
                登録する
              <% end %>
            </td>
          </tr>
          <tr><th scope="col"></th><td><%= link_to "店舗情報編集", edit_restaurant_path(@restaurant) %></td></tr>
          <tr>
            <th scope="col">
              <td>
                <%= form_with model: @history, local: true do |f| %>
                <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
                <%= f.label :date, "日付" %>
                <%= f.date_select(
                :date,
                use_month_numbers: true,
                start_year: (Time.now.year),
                end_year: (Time.now.year+1),
                date_separator: " / ") %>  に
                <%= f.submit "ここに行く", class: "btn btn-primary" %>
                <% end %>
              </td>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  <%= render 'public/reviews/form', review: @review, restaurant: @restaurant %>
  </div>
</div>