<div class="container">
  <div class="row">
    <div class="col">
      <h2>ログイン</h2>
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <thead class="thead-dark">
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th><%= f.label :password, "パスワード" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </thead>
        <thead>
          <tr>
            <th></th>
            <td>
              <%= f.submit "ログイン", class: "btn btn-primary" %>
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td><%#= render "admins/shared/links" %></td>
          </tr>
        </thead>
        <% end %>
      </table>
    </div>
  </div>
</div>